/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333 !important;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 64em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


:root {
  --primary-color: #646cff;
  --secondary-color: #61dafb;
  --text-color: #333;
  --bs-maroon: #9D2235;
  --bs-light-maroon: #C8606D;
  --bs-maroon-rgb: 157, 34, 53;
  --background-color: var(--bs-maroon);
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: var(--bs-maroon) !important;
}
/*
#root {
  // max-width: 1280px;
  // margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
  height: 100vh;
  width: 100vw;
  // display: flex;
}

@font-face {
  font-family: "Arnold Boklin MN";
  src: url("/fonts/Bocklin.ttf");
}

body{
  background-color: var(--bs-maroon) !important;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  text-align: center !important;
}
*/
.main-image {
  max-width: 40%;
  /* box-shadow: 0 0 0 5rem rgba(0, 0, 0, 0.5) rectangular shadow; */
  filter: drop-shadow(0 0 5rem rgba(0, 0, 0, 0.5));
  margin: 2rem;
}
/*
h2 {
  color: var(--primary-color);
  font-family: "Arnold Boklin MN", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
